{% extends "base.html" %}
{% load static %}


		
{% block content %}
	<!-- Slider -->
	<section class="">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					{% for carrusel in carruseles %}
						<div class="carousel-item {% if forloop.first %}active{% endif %}">
							<img style="width: 100%" src="{{ carrusel.imagen.url }}" alt="{{carrusel.texto}}">
							<div class="carousel-caption d-none d-md-block">
								<center>
								<h2 style="font-family: Soberana sans-serif;"><b>{{carrusel.texto}}</b></h2><br>
								<a style="width:100px; background-color: rgb(255,19,89)" href="{%if 'https://' not in carrusel.url%}https://{{carrusel.url}}{%else%}{{carrusel.url}}{%endif%}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
									Ver
								</a>
							</center>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				</div>

		
	</section>


	


	<!-- Product -->
	<section style="padding-bottom: 50px;" class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 style="color: rgb(64,64,64);" class="ltext-103 cl5">
					Productos Populares
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a style="color: rgb(64,64,64);" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " href="/">
						TODAS LAS CATEGORIAS
					</a>
					{% for categoria in categorias %}
						<a style="color: rgb(64,64,64);" href="/categoria/{{categoria.id}}/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
							{{categoria.nombre|upper}}
						</a>

					{% endfor %}
				</div>

				<!--
				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>-->
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>
				

				
			</div>

			<div class="row isotope-grid" style="">
				{% for popular in populares %}
				<a href="/tienda/{{popular.id}}/">
					<div class="col-sm-6 col-md-4 col-lg-4 p-b-35 isotope-item {{popular.categoria.id}}">
						<!-- Block2 -->
						<div class="block2">
							
							<div class="block2-pic hov-img0">
								<img src="{{ popular.imagenes.first.imagen.url }}" alt="IMG-PRODUCT">

								<a href="/tienda/{{popular.id}}/" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Ver
								</a>
							</div>


							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/tienda/{{popular.id}}/" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:16px; color: rgb(64,64,64);">
										{{popular.nombre}}
									</a>

									<span class="stext-105 cl3" style="font-size:16px; color:rgb(136,136,136);">
										$ {{popular.precio.amount}}  <strike>${{popular.precio_oferta.amount}}</strike>
									</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				{% endfor %}

				

				
			</div>

			<div class="pagination row">
				
					<span style="width:100%" class="current">
						<h4>Página {{ populares.number }} de {{ populares.paginator.num_pages }}.</h4>
					</span>

					{% if populares.has_previous %}
						<a style="padding-left: 5px; padding-right: 5px; min-width:50px; background-color:rgb(255,19,89);" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" href="?page=1">&laquo; Primera</a>
						<a style="padding-left: 5px; padding-right: 5px; min-width:50px; background-color:rgb(255,19,89);" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" href="?page={{ populares.previous_page_number }}">Anterior</a>
					{% endif %}

					
					
					{% for pagina in populares.paginator.page_range  %}
						<a style="padding-left: 5px; padding-right: 5px; min-width:50px; background-color:rgb(255,19,89);" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" href="?page={{ pagina }}">{{pagina}}</a>
					{% endfor %}
						

					{% if populares.has_next %}
						<a style="padding-left: 5px; padding-right: 5px; min-width:50px; background-color:rgb(255,19,89);" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" href="?page={{ populares.next_page_number }}">Siguiente</a>
						<a style="padding-left: 5px; padding-right: 5px; min-width:50px; background-color:rgb(255,19,89);" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" href="?page={{ populares.paginator.num_pages }}">Ultima &raquo;</a>
					{% endif %}
				
			</div>

			
		</div>
	</section>
{% endblock %}