{% extends "base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
li{
	list-style-type: disc;
}
</style>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({{seccion.imagen}});">
		<h2 class="ltext-105 cl0 txt-center">
			{{seccion.titulo}}
		</h2>
	</section>		


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			{% if empresa.que_es|safe != ""%}
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							¿Que es {{empresa.nombre}}?
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ empresa.que_es|safe }}
						</p>
					</div>
				</div>
			</div><br>
			{%endif%}

			{% if empresa.giro_de_la_empresa|safe != ""%}
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Giro de la empresa
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ empresa.giro_de_la_empresa|safe }}
						</p>
					</div>
				</div>
			</div><br>
			{%endif%}

			{% if empresa.historia|safe != ""%}
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Historia
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ empresa.historia|safe }}
						</p>
					</div>
				</div>
			</div><br>
			{%endif%}
			
			{% if empresa.mision|safe != "" %}
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
							<h3 class="mtext-111 cl2 p-b-16">
								Misión
							</h3>

							<p class="stext-113 cl6 p-b-26">
								{{ empresa.mision|safe }}
							</p>
						</div>
					</div>
				</div><br>
			{%endif%}
			{% if empresa.vision|safe != "" %}
			<div class="row" >
				<div class="col-md-12 col-lg-12">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Visión
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ empresa.vision|safe }}
						</p>
					</div>
				</div>
			</div><br>
			{%endif%}
			{% if empresa.valores|safe != "" %}
			<div class="row" >
				<div class="col-md-12 col-lg-12">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Valores
						</h3>

						<p class="stext-113 cl6 p-b-26">
							{{ empresa.valores|safe }}
						</p>
					</div>
				</div>
			</div><br>
			{%endif%}
		</div>
	</section>	
	
{% endblock %}