{% extends "base.html" %}
{% load static %}
{% block content %}
{% load tags %}
<style type="text/css">
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {  

	   opacity: 1;

	}
</style>
<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({{seccion.imagen}});">
		<h2 class="ltext-105 cl0 txt-center">
			{{seccion.titulo}}
		</h2>
	</section>		
	<!-- Shoping Cart -->
	<form id="formpago" action="/pagar/paypal/" method="POST" class="bg0 p-t-75 p-b-85">
		{% csrf_token %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart carrito">
								<tr class="table_head">
									<th class="column-1">Imagen</th>
									<th class="column-2">Producto</th>
									<th class="column-3">Precio</th>
									<th class="column-4">Cantidad</th>
									<th class="column-5">Talla</th>
									<th class="column-6">Total</th>
								</tr>
								{% for item in cart %}
								<tr class="table_row {{item.product.id}}{{item.talla|replace}}">
									<input type="hidden" value="{{item.talla}}" name="">
									<td class="column-1">
										<div class="how-itemcart1 header-cart-item-img" id="{{item.product.id}}{{item.talla|replace}}">
											<img src="{{ item.product.imagenes.first.imagen.url }}" alt="IMG">
										</div>
										<input class="tallacart" type="hidden" name="" value="{{ item.talla }}">
									</td>
									<td class="column-2">{{ item.product.nombre }}</td>
									<td class="column-3">$ {{ item.product.precio.amount }}</td>
									<td class="column-4">
										<input style="text-align: right;" type="number" class="cantidadproducto stext-111 cl8 plh3 size-111 p-lr-15" value="{{ item.quantity }}">
										
									</td>
									<td class="column-5">{{item.talla}}</td>
									<td class="column-6">$ {{item.total_price}}</td>
								</tr>
								{% endfor %}

								
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-12 ">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Totales
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span id="subto" class="mtext-110 cl2">
									$ {{cart.summary}} MXN
								</span>
							</div>
						</div>
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Costo de Envío:
								</span>
							</div>

							<div class="size-209">
								<span id="costodeenvio" class="mtext-110 cl2">
									{% if cliente.ciudad == "Tuxtla Gutiérrez" %}
									$ 0.00
									{% else %}
									$ {{envio.costo.amount}}
									{%endif%}
								</span>
							</div>
						</div>

						
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Datos de envío:
								</span>
							</div>

							<div class="row">
								
								

									<div style="width:100%" class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9 col-sm-12">
										<select id="tipoenvio" class="js-select2" name="enviomod">
											{% if estadodatos == True %}
											<option selected value="1">Usar mis datos de envío</option>
											{% endif %}
											<option value="2">Ingresar datos de envío</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>

									{% if not estadodatos == True %}
									<div id="ingdatosenvio" class="col-sm-12">
									{% else %}
									<div id="ingdatosenvio" class="col-sm-12" style="display:none">
									{% endif %}
										<div class="row">
											
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Nombre de quien recibirá el pedido:
													</span>
												</div>
												<input id="nombre"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="nombrerev" placeholder="Nombre del que recibira el producto">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Email:
													</span>
												</div>
												<input id="email"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="email" placeholder="Email">
											</div>
											
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Teléfono:
													</span>
												</div>
												<input id="telefono"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="telefono" placeholder="Número de teléfono">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Código Postal:
													</span>
												</div>
												<input id="codigo_postal"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="codigo" placeholder="Código Postal">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Colonia:
													</span>
												</div>
												<select id="colonia" class="stext-111 cl8 plh3 size-111 p-lr-15" name="colonia">
													<option disabled selected value='Seleccione una opción'>Seleccione una opcion</option>
												</select>
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Calle:
													</span>
												</div>
												<input id="direccion"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="direccion" placeholder="Calle">
											</div>
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														No. Exterior:
													</span>
												</div>
												<input id="exterior"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="exterior" placeholder="No. Exterior">
											</div>
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														No. Interior (Opcional):
													</span>
												</div>
												<input id="interior"  class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="interior" placeholder="No. Interior">
											</div>
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														País:
													</span>
												</div>
												<input  readonly="" id="pais" class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="pais" placeholder="País" value="México">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Estado:
													</span>
												</div>
												<input readonly="" id="estado" class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="estado" placeholder="Estado">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Ciudad:
													</span>
												</div>
												<input readonly="" id="ciudad" class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="ciudad" placeholder="Ciudad">
											</div>
											
											
											

											
										</div>
										
									</div>


									<!--Mis datos-->
									{% if not estadodatos == True %}
									<div id="noingdatosenvio" class="col-sm-12" style="display:none">
									{% else %}
									<div id="noingdatosenvio" class="col-sm-12" >
									{% endif %}
										<div class="row">
											
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Nombre de quien recibirá el pedido:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ request.user.first_name }} {{ request.user.last_name }}">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Email:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ request.user.email }}">
											</div>
											
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Teléfono:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.telefono }}">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Código Postal:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.codigopostal }}">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Colonia:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.colonia }}">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Calle:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.calle }}">
											</div>
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														No. Exterior:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.no_exterior }}">
											</div>
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														No. Interior (Opcional):
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.no_interior }}">
											</div>
											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														País:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.pais }}">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Estado:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.estado }}">
											</div>

											<div class="bor8 bg0 m-b-12 col-md-4">
												<div class="w-full-ssm">
													<span class="stext-110 cl2">
														Ciudad:
													</span>
												</div>
												<input disabled class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="Nombre del que recibira el producto" value="{{ cliente.ciudad }}">
											</div>
											
											
											

											
										</div>
										
									</div>
										
								
							</div>
						

						<div class="flex-w flex-t p-t-27 p-b-33">
							

							<div class="size-208 p-t-1">
								<span id="grantotal" class="mtext-110 cl2 header-cart-total">
									{% if cliente.ciudad == "Tuxtla Gutiérrez" %}
									Total: $ {{cart.summary}} MXN
									{% else %}
									Total: $ {{total}} MXN
									{% endif %}
								</span>
							</div>
						</div>

						
							
						<div class="row" >
						<div class="bor8 bg0 m-b-12 col-md-6">
							<div class="w-full-ssm">
								<span class="stext-110 cl2">
									Pagar en Oxxo:
								</span>
							</div>
							<a href="#" id="pagoxxo"><img width="200" src="{% static 'sitio/images/Sitio/oxxo.png' %}"></a>
							<p>(24 horas para realizar el pago)</p>
							<p><b>Instruciones</b></p>
							<ul>
								<li>1. Da click en "Pagar en Oxxo".</li>
								<li>2. Imprime o guarda la información desplegada.</li>
								<li>3. Ve a la tienda Oxxo de tu selección.</li>
								<li>4. Haz tu depósito en efectivo a la cuenta de la confirmación.</li>
								<li>5. Regresa a la página de la tienda y sube tu recibo en “Mis pedidos” para proceder con el envío de tu pedido.</li>
							</ul>
						</div>
						<div class="bor8 bg0 m-b-12 col-md-6">
							<div class="w-full-ssm">
								<span class="stext-110 cl2">
									Pagar en PayPal:
								</span>
							</div>
							<button id="botonsubmit" style="width:200px; height:200px; background-image:url({% static 'sitio/images/Sitio/paypal.jpg' %}); background-repeat: no-repeat; background-size: 200px;"></button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
		
	
		

{% endblock %}

{% block js %}

<script type="text/javascript">
$("#pagoxxo").on('click', function(event) {
	var nombre = $("#nombre").val();
	var email = $("#email").val();
	var telefono = $("#telefono").val();
	var codigo = $("#codigo_postal").val();
	var direccion = $("#direccion").val();
	var exterior = $("#exterior").val();
	var pais = $("#pais").val();
	var estado = $("#estado").val();
	var colonia = $("#colonia").val();
	var tipoenvio = $("#tipoenvio").val();
	// alert(tipoenvio)
	if (tipoenvio == 2){
		if (nombre!="" & email!="" & telefono!="" & codigo!="" & direccion!="" & exterior!="" & pais!="" & estado!="" & colonia!="Seleccione una opción") {
			$("#formpago").attr('action', '/crearpedido2/');
			$("#formpago").submit();
		}
		else{
			swal("Ingrese los datos de envio por favor")
		}
	}
	else{
		$("#formpago").attr('action', '/crearpedido2/');
		$("#formpago").submit();
	}
});

$("#formpago").on('submit', function(event) {
	var nombre = $("#nombre").val();
	var email = $("#email").val();
	var telefono = $("#telefono").val();
	var codigo = $("#codigo_postal").val();
	var direccion = $("#direccion").val();
	var exterior = $("#exterior").val();
	var pais = $("#pais").val();
	var estado = $("#estado").val();
	var colonia = $("#colonia").val();
	var tipoenvio = $("#tipoenvio").val();
	if (tipoenvio == 2) {
		if (nombre!="" & email!="" & telefono!="" & codigo!="" & direccion!="" & exterior!="" & pais!="" & estado!="" & colonia!="Seleccione una opción") {
			return true;
		}
		else{
			swal("Ingrese los datos de envio por favor");
			return false;
		}
	}
});

$("#tipoenvio").on('change', function(event) {
	if ($(this).val() == 2) {
		$("#ingdatosenvio").show();
		$("#noingdatosenvio").hide();
		$("#costodeenvio").html("$ {{envio.costo.amount}}")
		$("#grantotal").html("Total: $ {{total}} MXN")
		$("#ingdatosenvio").show();
		$("#nombre").prop('required',true);
		$("#email").prop('required',true);
		$("#telefono").prop('required',true);
		$("#codigo_postal").prop('required',true);
		$("#direccion").prop('required',true);
		$("#exterior").prop('required',true);
		$("#pais").prop('required',true);
		$("#estado").prop('required',true);
		$("#colonia").prop('required',true);
	}
	else{
		$("#ingdatosenvio").hide();
		$("#noingdatosenvio").show();
		if ("{{cliente.ciudad}}" == "Tuxtla Gutiérrez") {
			$("#costodeenvio").html("$ 0.00")
			$("#grantotal").html("Total: $ {{cart.summary}} MXN")
		}
		else{
			$("#costodeenvio").html("$ {{envio.costo.amount}}")
			$("#grantotal").html("Total: $ {{total}} MXN")
		}
		$("#nombre").removeAttr('required');
		$("#email").removeAttr('required');
		$("#telefono").removeAttr('required');
		$("#codigo_postal").removeAttr('required');
		$("#direccion").removeAttr('required');
		$("#exterior").removeAttr('required');
		$("#pais").removeAttr('required');
		$("#estado").removeAttr('required');
		$("#colonia").removeAttr('required');
	}
});

$("#codigo_postal").on("input",function(event) {
	codigo = $(this).val();
	$.ajax({
		             url : 'https://api-codigos-postales.herokuapp.com/v2/codigo_postal/'+codigo, // the endpoint,commonly same url
		             type : "GET", // http method
		             data : {}, // data sent with the post request
		     success : function(json) {
		     	console.log(json)
		     	$("#ciudad").val(json.municipio);
		     	$("#estado").val(json.estado);
		     	if (json.municipio == "Tuxtla Gutiérrez") {
		     		$("#costodeenvio").html("$ 0.00")
		     		$("#grantotal").html("Total: $ {{cart.summary}} MXN")
		     	}
		     	else{
		     		envio = parseFloat("{{envio.costo.amount}}")
		     		subtotal = parseFloat("{{cart.summary}}")
		     		total = parseFloat(envio + subtotal).toFixed(2)
		     		$("#costodeenvio").html("$ {{envio.costo.amount}}")
		     		$("#grantotal").html("Total: $ "+total+ " MXN")
		     	}
		     	valores = "<option disabled selected value='Seleccione una opción'>Seleccione una opcion</option>"
		     	$.each(json.colonias, function(index, val) {
		     		valores += "<option value='"+val+"'>"+val+"</option>";
		     	});
		     	$("#colonia").html(valores);
		     }
		 });
});

$(".cantidadproducto").on('change', function(event) {
	elemento = $(this);
	cantidad = $(this).val();
	id = $(this).parent().parent().attr('class').replace("table_row ","");
	talla = $(this).parent().parent().find('input').eq(0).val()
	id = id.replace(talla.replace(/\//g,"").replace(/\s+/g,""),"");
	if (cantidad != 0) {
		$.ajax({
		             url : '/updateCart/', // the endpoint,commonly same url
		             type : "POST", // http method
		             data : {producto:id, talla:talla, cantidad:cantidad}, // data sent with the post request
		     success : function(json) {
		     	if (json.error != "No hay suficientes productos en el inventario") {
			     	elemento.parent().parent().find('td').eq(5).html("$ "+json.precio)
			     	$("#subto").html("$ "+json.suma+" MXN");
		     		$(".contador").attr("data-notify",json.totalproductos);
	     		}
	     		else{
	     			swal({
 		                  type: 'warning',
 		                  icon: 'warning',
 		                  title: 'Oops!',
 		                  text: json.error,
 		                })
	     			elemento.val(json.cantidad);
	     		}
		     }
		 });
	}
	else{
		elemento.val(1)
	}
});
</script>

{% endblock %}