{% extends "base.html" %}
{% load static %}
{% block content %}
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">

								{% for imagen in producto.imagenes.all %}
								<div class="item-slick3" data-thumb="{{imagen.imagen.url}}">
									<div class="wrap-pic-w pos-relative">
										<img style="width:100%" src="{{imagen.imagen.url}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{imagen.imagen.url}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endfor %}

								
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{producto.nombre}}
						</h4>

						<span class="mtext-106 cl2">
							${{producto.precio}}
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{producto.descripcion}}
						</p>
						
						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Talla
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2 talla" name="talla">
											{% for talla in producto.tallas.all %}
											<option value="{{talla.id}}">{{talla.nombre}}</option>
											{% endfor %}
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>
							<!--
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Color
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option>Red</option>
											<option>Blue</option>
											<option>White</option>
											<option>Grey</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>
						-->

							<div class="flex-w flex-r-m p-b-10">

								<div class="size-204 flex-w flex-m respon6-next">

									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product cant" type="number" name="num-product" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<a href="javascript:agregarCarrito()" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Agregar al carrito
									</a>
								</div>
							</div>	
						</div>

						
					</div>
				</div>
			</div>

		</div>
	</section>


	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Productos Relacionados
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">

					{% for producto in pro_re %}
					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="{{ producto.imagenes.first.imagen.url }}" alt="IMG-PRODUCT">

								<a href="/tienda/{{ producto.id }}/" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
									Ver
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/tienda/{{ producto.id }}/" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{producto.nombre}}
									</a>

									<span class="stext-105 cl3">
										${{producto.precio}}
									</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}

	{% block js %}

	<script>
	function agregarCarrito() {
			var cantidad = $(".cant").val();
			var talla = $(".talla").val();
			$.ajax({
		             url : '/agregarCarrito/', // the endpoint,commonly same url
		             type : "POST", // http method
		             data : {producto:"{{producto.id}}",
		             	cantidad:cantidad,
		             	talla:talla
		             }, // data sent with the post request
		     success : function(json) {
		     	
		     	if ($(".carrito").find("div#"+json.id+json.talla.replace(" ","")).length > 0 ){
		     	var producto = "<div class='header-cart-item-img' id='{{producto.id}}"+json.talla.replace(" ","")+"'><img src='{{ producto.imagenes.first.imagen.url }}' alt='IMG'></div><div class='header-cart-item-txt p-t-8'><a href='#' class='header-cart-item-name m-b-18 hov-cl1 trans-04'>{{ producto.nombre }}</a><span class='header-cart-item-info tallacart'>" +json.talla+ "</span><span class='header-cart-item-info'>"+json.cantidad+" x $ {{ producto.precio }}</span></div>";
		     	$(".carrito").find("div#"+json.id+json.talla.replace(" ","")).parent().html(producto);
		     }
		     else{
		     	var producto = "<li class='header-cart-item flex-w flex-t m-b-12'><div class='header-cart-item-img' id='{{producto.id}}"+json.talla.replace(" ","")+"'><img src='{{ producto.imagenes.first.imagen.url }}' alt='IMG'></div><div class='header-cart-item-txt p-t-8'><a href='#' class='header-cart-item-name m-b-18 hov-cl1 trans-04'>{{ producto.nombre }}</a><span class='header-cart-item-info tallacart'>" +json.talla+ "</span><span class='header-cart-item-info'>"+json.cantidad+" x $ {{ producto.precio }}</span></div></li>";
		     	$(".carrito").append(producto);
		     }

		     	totalpro = "Total: $"+json.suma;
            	$(".header-cart-total").html(totalpro);
                var conta = parseInt($(".contador").attr("data-notify"));
	     		$(".contador").attr("data-notify",conta+parseInt(cantidad));

		     	
		     		swal({
	                  type: 'success',
	                  icon: 'success',
	                  title: '¡Genial!',
	                  text: 'Agregado al carrito',
	                })
	                
		  		}		
		  	    
		     
		   });
		}
	</script>

	{% endblock %}