{% extends "base.html" %}
{% load static %}
{% block content %}
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">

								{% for imagen in producto.imagenes.all %}
								<div class="item-slick3" data-thumb="{{imagen.imagen.url}}">
									<div class="wrap-pic-w pos-relative">
										<img style="width:100%" src="{{imagen.imagen.url}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{imagen.imagen.url}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endfor %}

								
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{producto.nombre}}
						</h4>

						<span class="mtext-106 cl2">
							${{producto.precio.amount}} <strike>${{producto.precio_oferta.amount}}</strike>
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{producto.descripcion|linebreaksbr}}
						</p>
						
						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Talla
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2 talla" name="talla">
											{% for talla in tallas %}
											<option value="{{talla.talla.id}}">{{talla.talla.nombre}}</option>
											{% endfor %}
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>
							<!--
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Color
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option>Red</option>
											<option>Blue</option>
											<option>White</option>
											<option>Grey</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>
						-->

							<div class="flex-w flex-r-m p-b-10">

								<div class="size-204 flex-w flex-m respon6-next">

									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input id="prodcant" class="mtext-104 cl3 txt-center num-product cant" type="number" name="num-product" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<div id="botoncompras">
										{% if tallas.first.cantidad == 0 %}
										<h4 class="mtext-105 cl2 js-name-detail p-b-14">
											Agotado
										</h4>
										<!--
										<a href="#" data-toggle="modal" data-target="#pedido" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											solicitar sobre pedido
										</a>
										-->
										<a href="#" data-toggle="modal" data-target="#pedido" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											solicitar información
										</a>
										{% else %}
										<a href="javascript:agregarCarrito()" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											Agregar al carrito
										</a>
										{% endif %}
									</div>
								</div>
							</div>	
						</div>

						
					</div>
				</div>
			</div>

		</div>
	</section>


	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Productos Relacionados
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
					{% for producto in pro_re %}

							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<a href="/tienda/{{producto.id}}/">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-pic hov-img0">
										<img src="{{ producto.imagenes.first.imagen.url }}" alt="IMG-PRODUCT">

										<a href="/tienda/{{ producto.id }}/" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
											Ver
										</a>
									</div>

									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l ">
											<a style="font-size:16px; color:rgb(64,64,64)" href="/tienda/{{ producto.id }}/" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
												{{producto.nombre}}
											</a>

											<span style="font-size:16px; color:rgb(136,136,136)" class="stext-105 cl3">
												${{producto.precio.amount}} <strike>${{producto.precio_oferta.amount}}</strike>
											</span>
										</div>
									</div>
								</div>
						</a>
							</div>

						
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<div class="modal fade bd-example-modal-lg" id="pedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="exampleModalLabel">Deja tus datos para que nuestro equipo se ponga en contacto contigo</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form id="formpedidoinfo" action="/informacionproducto/" method="POST">
		        	{% csrf_token %}
		        	<div class="row">
		        		<input type="hidden" name="productoid" id="productoid" value="{{producto.id}}">
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Nombre:</label>
			            <input id="nombre" name="nombre" required="" type="text" class="form-control" id="">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Apellido:</label>
			            <input id="apellido" name="apellido" required="" type="text" class="form-control" id="">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Email:</label>
			            <input id="email" name="email" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Numero de telefono:</label>
			            <input id="telefono" name="telefono" required="" type="text" class="form-control" id="recipient-name">
			          </div>

			          {% if empresa.telefono %}
			          <div class="form-group col-sm-12">
			          	O puedes comunicarte con nosotros en el WhatsApp de contacto: {{empresa.telefono}} para ser atendido por nuestro equipo y  realizar una confección especial (sin cargo extra)
			          </div>
			          {% endif %}
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		      	
		        <button type="button" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" data-dismiss="modal">Cerrar</button>
		        <button type="button" id="submitform" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Enviar</button>
		      </div>
		    </div>
		</div>
	</div>


<!--	<div class="modal fade bd-example-modal-lg" id="pedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="exampleModalLabel">Deja tus datos para que nuestro equipo se ponga en contacto contigo</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form id="formpedido" action="/crearpedido/" method="POST">
		        	{% csrf_token %}
		        	<input id="idprod" name="idprod" type="hidden" class="form-control" value="{{producto.id}}">
		        	<input id="cantidadhide" name="cantidad" type="hidden" class="form-control" value="1">
		        	<input id="tallahide" name="talla" type="hidden" class="form-control" value="{{producto.tallas.first}}">

		        	<div class="form-group">
			        	<select id="tipoenvio" class="js-select2" name="enviomod">
							{% if estadodatos == True %}
								<option selected value="1">Usar mis datos de envio</option>
							{% endif %}
							<option value="2">Ingresar datos de envio</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>

					{% if not estadodatos == True %}
						<div id="ingdatosenvio" class="row">
					{% else %}
						<div id="ingdatosenvio" class="row" style="display:none;">
						
					{% endif %}
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Nombre Completo:</label>
			            <input id="nombre" name="nombrerev" required="" type="text" class="form-control" id="">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Email:</label>
			            <input id="email" name="email" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Numero de telefono:</label>
			            <input id="telefono" name="telefono" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Codigo Postal:</label>
			            <input id="codigo_postal" name="codigo" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Colonia:</label>
			            <select  id="colonia" class="stext-111 cl8 plh3 size-111 p-lr-15" name="colonia">
							<option disabled selected value='Seleccione una opción'>Seleccione una opcion</option>
						</select>
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Calle:</label>
			            <input id="calle" name="calle" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">No. Exterior:</label>
			            <input id="exterior" name="exterior" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">No. Interior:</label>
			            <input id="interior" name="interior" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Pais:</label>
			            <input value="México" readonly="" id="pais" name="pais" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Estado:</label>
			            <input readonly="" id="estado" name="estado" required="" type="text" class="form-control" id="recipient-name">
			          </div>
			          <div class="form-group col-sm-6">
			            <label for="recipient-name" class="col-form-label">Ciudad:</label>
			            <input readonly="" id="ciudad" name="ciudad" required="" type="text" class="form-control" id="recipient-name">
			          </div>
		          </div>
		        </form>
		        <h5 style="width:100%">El costo de envio fuera de Tuxtla Gutierrez Chiapas es de ${{envio}} (Puede variar el dia que el producto se encuentre en existencia)</h5>
		      </div>
		      <div class="modal-footer">
		      	
		        <button type="button" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" data-dismiss="modal">Cerrar</button>
		        <button type="button" id="submitform" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Enviar</button>
		      </div>
		    </div>
		  </div>
		</div>-->
	{% endblock %}

	{% block js %}

	<script>
	function agregarCarrito() {
			var cantidad = $(".cant").val();
			var talla = $(".talla").val();
			$.ajax({
		             url : '/agregarCarrito/', // the endpoint,commonly same url
		             type : "POST", // http method
		             data : {producto:"{{producto.id}}",
		             	cantidad:cantidad,
		             	talla:talla
		             }, // data sent with the post request
		     success : function(json) {
		     	console.log(json)
		     	if(json.error != "No hay suficientes productos en el inventario"){
 			     	if ($(".carrito").find("div#"+json.id+json.tallareplace).length > 0 ){
 			     	var producto = "<input type='hidden' value='"+json.talla+"' class='tallacart' name=''>"+
 			     		"<div class='header-cart-item-img' id='{{producto.id}}"+json.tallareplace+"'><img src='{{ producto.imagenes.first.imagen.url }}' alt='IMG'></div><div class='header-cart-item-txt p-t-8'><a href='#' class='header-cart-item-name m-b-18 hov-cl1 trans-04'>{{ producto.nombre }}</a><span class='header-cart-item-info tallacart'>" +json.talla+ "</span><span class='header-cart-item-info'>"+json.cantidad+" x $ {{ producto.precio.amount }}</span></div>";
 			     	$(".carrito").find("div#"+json.id+json.tallareplace).parent().html(producto);
 			     }
 			     else{
 			     	var producto = "<li class='header-cart-item flex-w flex-t m-b-12 {{producto.id}}"+json.tallareplace+"'><input type='hidden' value='"+json.talla+"' class='tallacart' name=''><div class='header-cart-item-img' id='{{producto.id}}"+json.tallareplace+"'><img src='{{ producto.imagenes.first.imagen.url }}' alt='IMG'></div><div class='header-cart-item-txt p-t-8'><a href='#' class='header-cart-item-name m-b-18 hov-cl1 trans-04'>{{ producto.nombre }}</a><span class='header-cart-item-info tallacart'>" +json.talla+ "</span><span class='header-cart-item-info'>"+json.cantidad+" x $ {{ producto.precio.amount }}</span></div></li>";
 			     	$(".carrito").append(producto);
 			     }
 	
 			     	totalpro = "<strong style='color: rgb(255,19,89)'>Total:</strong> $"+json.suma;
 	            	$(".header-cart-total").html(totalpro);
 	                var conta = parseInt($(".contador").attr("data-notify"));
 		     		$(".contador").attr("data-notify",conta+parseInt(cantidad));
 	
 			     	
 			     		swal({
 		                  type: 'success',
 		                  icon: 'success',
 		                  title: '¡Genial!',
 		                  text: 'Agregado al carrito',
 		                })
		     		}
		     		else{
		     			swal({
 		                  type: 'warning',
 		                  icon: 'warning',
 		                  title: 'Oops!',
 		                  text: json.error,
 		                })

 		                $("#pedido").modal("show")
		     		}
	                
		  		}		
		  	    
		     
		   });
		}
	</script>

	<script type="text/javascript">
	// $("#submitform").on('click', function(event) {
	// 	var nombre = $("#nombre").val();
	// 	var email = $("#email").val();
	// 	var telefono = $("#telefono").val();
	// 	var codigo = $("#codigo_postal").val();
	// 	var direccion = $("#direccion").val();
	// 	var exterior = $("#exterior").val();
	// 	var pais = $("#pais").val();
	// 	var estado = $("#estado").val();
	// 	var colonia = $("#colonia").val();
	// 	var tipoenvio = $("#tipoenvio").val();
	// 	if (tipoenvio == 2) {
	// 		if (nombre!="" & email!="" & telefono!="" & codigo!="" & direccion!="" & exterior!="" & pais!="" & estado!="" & colonia!="Seleccione una opción") {
	// 			$("#formpedido").submit();
	// 		}
	// 		else{
	// 			swal("Ingrese los datos de envio por favor");
	// 		}
	// 	}
	// 	else{
	// 		$("#formpedido").submit();
	// 	}
		
	// });

	$("#submitform").on('click', function(event) {
		var nombre = $("#nombre").val();
		var apellido = $("#apellido").val();
		var email = $("#email").val();
		var telefono = $("#telefono").val();
		var codigo = $("#productoid").val();
		if (nombre!="" & email!="" & telefono!="" & apellido!="") {
			$("#formpedidoinfo").submit();
		}
		else{
			swal("Ingrese los datos de envio por favor");
		}
		
		
	});

	$(".talla").on('change', function(event) {
		cantidad = $("#prodcant").val()
		talla = $(".talla").val()
		$("#cantidadhide").val(cantidad)
		$("#tallahide").val(talla)
		producto = "{{producto.id}}"
		$.ajax({
			url: '/checktalla/',
			type: 'POST',
			data: {talla: talla, producto:producto},
			success:function(json) {
				if (json == 0) {
					// data = '<h4 class="mtext-105 cl2 js-name-detail p-b-14">Agotado</h4><a href="#" data-toggle="modal" data-target="#pedido" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">solicitar sobre pedido</a>'
					data = '<h4 class="mtext-105 cl2 js-name-detail p-b-14">Agotado</h4><a href="#" data-toggle="modal" data-target="#pedido" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">solicitar información</a>'
				}
				else{
					data = '<a href="javascript:agregarCarrito()" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Agregar al carrito</a>'
				}
				$("#botoncompras").html(data)
			},
		})
		
	});
	$("#prodcant").on('keyup', function(event) {
		cantidad = $("#prodcant").val()
		talla = $(".talla").val()
		$("#cantidadhide").val(cantidad)
		$("#tallahide").val(talla)
	});

	$(".btn-num-product-up").on('click', function(event) {
		cantidad = parseInt($("#prodcant").val()) + 1
		talla = $(".talla").val()
		$("#cantidadhide").val(cantidad)
		$("#tallahide").val(talla)
	});

	$(".btn-num-product-down").on('click', function(event) {
		if (parseInt($("#prodcant").val()) > 0) {
			cantidad = parseInt($("#prodcant").val()) - 1
		}
		else{
			cantidad = parseInt($("#prodcant").val())
		}
		talla = $(".talla").val()
		$("#cantidadhide").val(cantidad)
		$("#tallahide").val(talla)
	});

	$("#tipoenvio").on('change', function(event) {
		if ($(this).val() == 2) {
			$("#ingdatosenvio").show();
			$("#nombre").prop('required',true);
			$("#email").prop('required',true);
			$("#telefono").prop('required',true);
			$("#codigo_postal").prop('required',true);
			$("#direccion").prop('required',true);
			$("#exterior").prop('required',true);
			$("#pais").prop('required',true);
			$("#estado").prop('required',true);
			$("#colonia").prop('required',true);
		}
		else{
			$("#ingdatosenvio").hide();
			$("#nombre").removeAttr('required');
			$("#email").removeAttr('required');
			$("#telefono").removeAttr('required');
			$("#codigo_postal").removeAttr('required');
			$("#direccion").removeAttr('required');
			$("#exterior").removeAttr('required');
			$("#pais").removeAttr('required');
			$("#estado").removeAttr('required');
			$("#colonia").removeAttr('required');
		}
	});

	$("#codigo_postal").keyup(function(event) {
		codigo = $(this).val();
		$.ajax({
			             url : 'https://api-codigos-postales.herokuapp.com/v2/codigo_postal/'+codigo, // the endpoint,commonly same url
			             type : "GET", // http method
			             data : {}, // data sent with the post request
			     success : function(json) {
			     	console.log(json)
			     	$("#ciudad").val(json.municipio);
			     	$("#estado").val(json.estado);
			     	valores = "<option disabled selected value='Seleccione una opción'>Seleccione una opcion</option>"
			     	$.each(json.colonias, function(index, val) {
			     		valores += "<option value='"+val+"'>"+val+"</option>";
			     	});
			     	$("#colonia").html(valores);
			     }
			 });
	});
	</script>

	{% endblock %}