{% load static %}
<div class="content seccion" id="agregar" style="display:none">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title">Agregar</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <form class="" action="" id="formagregar" method="POST" enctype="multipart/form-data">
                    
                    <div class="row" id="agregarCampos">
                      
                    
                      
                      
                    </div>

                    <button type="button" id="botonAgregar" id="agregarboton" class="btn btn-success pull-right">Agregar</button>
                    <button type="button" class="btn btn-danger pull-right botonCancelar">Cancelar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>