{% load static %}
      <div class="content seccion" id="Colecciones" style="display: none;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <div class="row">.
                    <div class="col-md-6">
                      <h4 class="card-title ">Colecciones</h4>
                    </div>
                    <div class="col-md-5">
                      <button id="agregarColeccion" type="button" class="btn btn-info bmd-btn-fab float-right">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                  </div>

                </div>


                <div class="card-body">
                  <div class="table-responsive">

                    <table class="table row-border" id="TablaColecciones">
                      <thead class=" text-primary">
                        <th>
                          Imagen
                        </th> 
                        <th>
                          ID
                        </th>                        
                        <th>
                          Nombre
                        </th>
                        
                        <th>
                          
                        </th>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>