{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ request.session.nombreempresa }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ request.session.logo}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sitio/css/main.css' %}">
<!--===============================================================================================-->
	
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						<!--Free shipping for standard order over $100-->
					</div>

					<div class="right-top-bar flex-w h-full">
						

						{% if user.is_authenticated %}
						<a href="/perfil/" class="flex-c-m trans-04 p-lr-25">
							HOLA {{user|upper}}
						</a>
						<a href="/pedidos/"  class="flex-c-m trans-04 p-lr-25">
							MIS PEDIDOS
						</a>
						<a href="/logout/" class="flex-c-m trans-04 p-lr-25">
							CERRAR SESIÓN
						</a>
						{% else %}
						<a href="#" data-toggle="modal" data-target="#iniciosesion" class="flex-c-m trans-04 p-lr-25">
							INICIAR SESIÓN / REGISTRARSE
						</a>
						{% endif %}
						<a href="/faqs/" class="flex-c-m trans-04 p-lr-25">
							AYUDA & FAQS
						</a>
						<!--
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>-->
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a style="height:100%" href="/" class="logo">
						<img src="{{ request.session.logo}}" alt="IMG-LOGO"> <h3 style="margin-left:6px; font-family: Soberana Sans; color:#BC0C4C">{{ request.session.nombreempresa }}</h3>
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Inicio</a>
							</li>

							<li>
								<a href="/tienda/">Tienda</a>
							</li>

							<li>
								<a href="/nosotros/">¿Quiénes somos?</a>
							</li>


							

							<li>
								<a href="/contacto/">Contáctanos</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart contador" data-notify="{{cart.count}}">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>

					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img src="{{request.session.logo}}" alt="IMG-LOGO"></a>
			</div>


			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="{{cart.count}}">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				

				<li>
					<div class="right-top-bar flex-w h-full">
						<!--<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>-->

						<a href="/faqs/" class="flex-c-m trans-04 p-lr-25">
							Ayuda & FAQs
						</a>

						{% if user.is_authenticated %}
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Hola {{user}}
						</a>
						<a href="/pedidos/"  class="flex-c-m trans-04 p-lr-25">
							Mis Pedidos
						</a>
						<a href="/perfil/"  class="flex-c-m trans-04 p-lr-25">
							Modificar Perfil
						</a>
						<a href="/logout/" class="flex-c-m trans-04 p-lr-25">
							Cerrar Sesión
						</a>
						{% else %}
						<a href="#" data-toggle="modal" data-target="#iniciosesion" class="flex-c-m trans-04 p-lr-25">
							Iniciar Sesión / Registrarse
						</a>
						{% endif %}

						
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/">Inicio</a>
				</li>

				<li>
					<a href="/tienda/">Tienda</a>
				</li>

				<li>
					<a href="/nosotros/">¿Quiénes somos?</a>
				</li>

				<li>
					<a href="/contacto/">Contáctanos</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{% static 'sitio/images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Carrito de Compras
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full carrito">
					{% for item in cart %}
					<li class="header-cart-item flex-w flex-t m-b-12 {{item.product.id}}{{item.talla|replace}}">
						<input type="hidden" value="{{ item.talla }}" class="tallacart" name="">
						<div class="header-cart-item-img" id="{{item.product.id}}{{item.talla|replace}}">
							<img class="imagencarro" src="{{ item.product.imagenes.first.imagen.url }}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								{{ item.product.nombre }}
							</a>
							<span class="header-cart-item-info tallacart">{{ item.talla }}</span>
							<span class="header-cart-item-info">
								{{ item.quantity }} x $ {{ item.product.precio.amount }}
							</span>
						</div>
					</li>
					{% endfor %}
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $ {{cart.summary}}
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<!--<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>-->

						<a href="/pagar/" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Pagar
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% block content %}

	{% endblock %}

	{% include "modallogin.html" %}
	<!-- Marcas -->
{% if request.path != "/" %}
<style type="text/css">

	.slick-slide {
	    margin: 0px 20px;
	}

	.slick-slide img {
	    width: 100%;
	}

	.slick-slider
	{
	    position: relative;
	    display: block;
	    box-sizing: border-box;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	            user-select: none;
	    -webkit-touch-callout: none;
	    -khtml-user-select: none;
	    -ms-touch-action: pan-y;
	        touch-action: pan-y;
	    -webkit-tap-highlight-color: transparent;
	}

	.slick-list
	{
	    position: relative;
	    display: block;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	}
	.slick-list:focus
	{
	    outline: none;
	}
	.slick-list.dragging
	{
	    cursor: pointer;
	    cursor: hand;
	}

	.slick-slider .slick-track,
	.slick-slider .slick-list
	{
	    -webkit-transform: translate3d(0, 0, 0);
	       -moz-transform: translate3d(0, 0, 0);
	        -ms-transform: translate3d(0, 0, 0);
	         -o-transform: translate3d(0, 0, 0);
	            transform: translate3d(0, 0, 0);
	}

	.slick-track
	{
	    position: relative;
	    top: 0;
	    left: 0;
	    display: block;
	}
	.slick-track:before,
	.slick-track:after
	{
	    display: table;
	    content: '';
	}
	.slick-track:after
	{
	    clear: both;
	}
	.slick-loading .slick-track
	{
	    visibility: hidden;
	}

	.slick-slide
	{
	    display: none;
	    float: left;
	    height: 100%;
	    min-height: 1px;
	}
	[dir='rtl'] .slick-slide
	{
	    float: right;
	}
	.slick-slide img
	{
	    display: block;
	}
	.slick-slide.slick-loading img
	{
	    display: none;
	}
	.slick-slide.dragging img
	{
	    pointer-events: none;
	}
	.slick-initialized .slick-slide
	{
	    display: block;
	}
	.slick-loading .slick-slide
	{
	    visibility: hidden;
	}
	.slick-vertical .slick-slide
	{
	    display: block;
	    height: auto;
	    border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
	    display: none;
	}
</style>

	
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<section class="customer-logos slider">
			{% for x, marca in request.session.marcas.items %}
	     		<div class="slide">
	     			<img src="{{marca.imagen}}">
	     		</div>
	      	{% endfor %}
		   </section>
			
		</div>
	</section>
	
	<!-- EndMarcas -->	
{% endif %}	
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categorias
					</h4>

					<ul>
						{% for x, categoria in request.session.categorias.items %}
						<li class="p-b-10">
							<a style="color:#FFF" href="/tienda/categoria/{{x}}/" class="stext-107 cl7 hov-cl1 trans-04">
								{{categoria}}
							</a>
						</li>
						{% endfor %}

						
					</ul>
				</div>

				<div  class="col-sm-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Secciones
					</h4>

					<ul>
						<li class="p-b-10">
							<a style="color:#FFF" href="/" class="stext-107 cl7 hov-cl1 trans-04">
								Inicio
							</a>
						</li>

						<li class="p-b-10">
							<a style="color:#FFF" href="/tienda/" class="stext-107 cl7 hov-cl1 trans-04">
								Tienda
							</a>
						</li>

						<li class="p-b-10">
							<a style="color:#FFF" href="/nosotros/" class="stext-107 cl7 hov-cl1 trans-04">
								¿Quiénes somos? 
							</a>
						</li>

						<li class="p-b-10">
							<a style="color:#FFF" href="/contacto/" class="stext-107 cl7 hov-cl1 trans-04">
								Contáctanos
							</a>
						</li>
						<li class="p-b-10">
							<a style="color:#FFF" href="/faqs/" class="stext-107 cl7 hov-cl1 trans-04">
								Faqs
							</a>
						</li>
					</ul>
				</div>

				{% if request.session.giro|safe != "" %}
				<div style="color:#FFF" class="col-sm-5 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Redes Sociales
					</h4>

					<div class="p-t-27">
						{% if request.session.facebook %}
						<a href="{{request.session.facebook}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>
						{% elif request.session.twiter %}
						<a href="{{request.session.twiter}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-twitter"></i>
						</a>
						{% elif request.session.instagram %}
						<a href="{{request.session.instagram}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>
						{% elif request.session.youtube %}
						<a href="{{request.session.youtube}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-youtube"></i>
						</a>
						{% endif %}
					</div>
				</div>
				{% else %}
				<div style="color:#FFF" class="col-sm-5 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Redes Sociales
					</h4>

					<div class="p-t-27">
						{% if request.session.facebook %}
						<a href="{{request.session.facebook}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>
						{% elif request.session.twiter %}
						<a href="{{request.session.twiter}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-twitter"></i>
						</a>
						{% elif request.session.instagram %}
						<a href="{{request.session.instagram}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>
						{% elif request.session.youtube %}
						<a href="{{request.session.youtube}}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-youtube"></i>
						</a>
						{% endif %}
					</div>
				</div>
				{% endif %}

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static 'sitio/images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Este sitio fue hecho con <i class="fa fa-heart-o" aria-hidden="true"></i> Por <a href="https://www.unipymes.com.mx" target="_blank">Unipymes</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


<!--===============================================================================================-->	
	<script src="{% static 'sitio/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'sitio/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'sitio/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'sitio/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="{% static 'sitio/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
{% block js %}
{% endblock %}
	<script src="{% static 'sitio/js/main.js' %}"></script>
	<script>
	$(".carrito").on('click','div.header-cart-item-img', function(){
        var id = $(this).attr("id");
        var talla = $(this).parent().find('input.tallacart').val();
        var elem = $("."+id);
        id = id.replace(talla.replace(/\//g,"").replace(/\s+/g,""),"");
        $.ajax({
                     url : '/eliminarCarrito/', // the endpoint,commonly same url
                     type : "POST", // http method
                     data : {producto:id,
                     talla:talla,                
                     }, // data sent with the post request
             success : function(json) {
             	totalpro = "Total: $"+json.suma+".00"
                $(".header-cart-total").html(totalpro);
                elem.remove()
                swal({
                  type: 'success',
                  icon: "success",
                  title: '¡Genial!',
                  text: 'El producto a sido eliminado del carrito!',
                })
                var conta = $(".contador").attr("data-notify");
                    conta = parseInt(conta)-json.cantidad;
                    $(".contador").attr("data-notify",conta);
                    if (conta == 0 & "{{ request.path }}" == "/pagar/") {
                    	swal("Debe de tener por lo menos un producto en el carrito para poder realizar una compra")
                    	
                    	setTimeout(function(){
						  window.location.replace("/tienda/");
						}, 3000);

                    }
                    $("#subto").html("$ "+json.suma+" MXN");
                    }       
                
             
           });
    });

    $("#register-form").submit(function(){
          var password = document.getElementById("pass");
          var confirm = document.getElementById("confirm-pass");
          if (password.value == confirm.value) {
            return true;
          }
          else{
            swal({
                  type: 'error',
                  title: '¡Oops!',
                  text: 'Las contraseñas no coinciden!',
                })
            return false;
          }    
        });

    $('#login-form-link').click(function(e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $("#recuperar-form").fadeOut(100);
        $('#recuperar-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function(e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $("#recuperar-form").fadeOut(100);
        $('#recuperar-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#recuperar-form-link').click(function(e) {
        $("#recuperar-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });

    $(document).ready(function(){
	    $('.customer-logos').slick({
	        slidesToShow: 6,
	        slidesToScroll: 1,
	        autoplay: true,
	        autoplaySpeed: 1500,
	        arrows: false,
	        dots: false,
	        pauseOnHover: false,
	        responsive: [{
	            breakpoint: 768,
	            settings: {
	                slidesToShow: 4
	            }
	        }, {
	            breakpoint: 520,
	            settings: {
	                slidesToShow: 3
	            }
	        }]
	    });
	});
	</script>
	{% load sweetify %}
	{% sweetify %}
</body>
</html>