{% load static %}
      <div class="content seccion" id="Mensajes" style="display: none;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <div class="row">.
                    <div class="col-md-6">
                      <h4 class="card-title ">Mensajes</h4>
                    </div>
                  </div>

                </div>


                <div class="card-body">
                  <div class="table-responsive">

                    <table class="table row-border" id="TablaMensajes">
                      <thead class=" text-primary">
                        
                        <th>
                          ID
                        </th>                        
                        <th>
                          Nombre
                        </th>
                        <th>
                          Asunto
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Estado
                        </th>
                        
                        <th>
                          
                        </th>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>